html {
    background-color: rgb(45, 45, 45);
}

body {
    background-color: rgb(45,45,45);
}




#headline {
   
display: flex;
text-align: center;
display: flex;
justify-content: center;
align-content: center;
font-family: "Lora";
font-size: 90px;
color: rgb(147, 147, 147);

}

#sub-header {
    font-family: "Lora";
    font-size: 45px;
    color: rgb(193, 193, 193);
    display: flex;
text-align: center;
display: flex;
justify-content: center;
align-content: center;

}

#enter {
font-family: "Lora";
font-size: 35px;
background-color: grey;
border: whitesmoke;
border-style: solid;
text-align: center;
display: flex;
justify-content: center;
align-content: center;
padding: 10px;

}

.button {
padding-left: 47%;

}
.flexbox {

    padding-top: 400px;
}