
.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#header, .container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 95px;
    color: rgb(182, 4, 4);
  
}

#headline, .container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Nanum Myeongjo', sans-serif;
    font-size: 30px;
    color: rgb(184, 8, 8);
   
}

#headline:hover {
    text-decoration: line-through;
}
html {
    background-color: rgb(45, 45, 45)
}




































